@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Plus&display=swap');

.noAnimation{
  display: none;
}
.border-animation {
  height: calc(100% - 4px);
  border: 2px solid #fff;
  position: relative;
}
.noBorderAnimation{
  position: relative;
}
.innerBox{
  margin: 10px;
  position: relative;
  height: calc(100% - 10px);
  display: flex;
  align-items: 'center';
  justify-content: "center";
  overflow: hidden;
  border-radius: 2em;
}
.innerBox::before{
  content: "";
  background: linear-gradient(#f9c9ff73, #e998e965);
  width: 400px;
  height: 140%;
  position: absolute;
  color: rgb(136, 41, 41);
  animation: borderAnimayin 1s linear; 
  transform: rotate(45deg);

}
.innerBox::after{
  content: "";
  position: absolute;
  inset: 4px;
  background-color:#011114;
  border-radius: 2em;
  z-index: 0 ;
}
@keyframes borderAnimayin {
  0%{
    transform: rotate(45deg);
    background: linear-gradient(#f3827a73, #f061619d);
  }
  /* 50%{
    transform: rotate(360deg)
  } */
  100%{
    transform: rotate(220deg);
    background: linear-gradient(#7af39473, #61f08c9d);
    }
}
.animation {
  position: absolute;
  display: flex;
  justify-content: 'space-around';
  top: 46%;
  left: 41.5%;
  /* transform: translate(-50%, 0%); */
  animation-name: eduAnimation;
  animation-duration: .5s;
}
@keyframes eduAnimation {
  0%   { position: absolute;
    top: -100px;
    left: 41.5%;}
  100% { position: absolute;
    top:46%;
    left: 41.5%;;}
}
.edu-image {
  max-width: 400px;
  max-height: 248px;
}

.workAnimation{
  position: absolute;
  display: flex;
  justify-content: 'space-around';
  top: 42%;
  left: 80.5%;
  transform: translate(-50%, 0%);
  animation-name: WorkAnimation;
  animation-duration: .5s;
}
.workImage{
  width: 100px;
  height: 100px;
  border-radius: 500em;
}
@keyframes WorkAnimation {
  0%   { position: absolute;
    top: -100px;
    left: 80.5%;}
  100% { position: absolute;
    top: 42%;
    left: 80.5%;;}
}

.education {
  z-index: 9999;
}


@media (max-width: 420px) {
  .animation {
    position: absolute;
    display: flex;
    justify-content: 'space-around';
    top: 30%;
    left: 67%;
    /* transform: translate(-50%, 0%); */
    animation-name: eduAnimation;
    animation-duration: .5s;
  }
  @keyframes eduAnimation {
    0%   { position: absolute;
      top: -100px;
      left: 67%;}
    100% { position: absolute;
      top:30%;
      left: 67%;;}
  }

  .workAnimation{
    position: absolute;
    display: flex;
    justify-content: 'space-around';
    top: 80%;
    left: 60%;
    transform: translate(-50%, 0%);
    animation-name: WorkAnimation;
    animation-duration: .5s;
  }
 
  @keyframes WorkAnimation {
    0%   { position: absolute;
      top: -100px;
      left: 60%;}
    100% { position: absolute;
      top: 80%;
      left: 60%;;}
  }
}