@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Plus&display=swap');

.mainText {
  cursor: pointer;
  font-size: 5vw;
  /* -webkit-text-stroke: 0.1vw #6fd3f1; */
  position: relative;
  font-family: 'Gentium Book Plus', serif;  
  color: rgba(233, 238, 240, 0.795);
  z-index: 10;
  
}

.noAnimation{
  display: none;
}
.border-animation {
  height: calc(100% - 4px);
  border: 2px solid #fff;
  position: relative;
}
.noBorderAnimation{
  position: relative;
}
.innerBox{
  margin: 10px;
  position: relative;
  height: calc(100% - 20px);
  display: flex;
  align-items: 'center';
  justify-content: "center";
  overflow: hidden;
  border-radius: 1em;
}
.innerBox::before{
  content: "";
  background: linear-gradient(#f9c9ff73, #e998e965);
  width: 400px;
  height: 140%;
  position: absolute;
  color: rgb(136, 41, 41);
  animation: borderAnimayin 1s linear; 
  transform: rotate(45deg);

}
.innerBox::after{
  content: "";
  position: absolute;
  inset: 4px;
  background-color:#011114;
  border-radius: 1em;
  z-index: 0 ;
}
@keyframes borderAnimayin {
  0%{
    transform: rotate(45deg);
    background: linear-gradient(#f3827a73, #f061619d);
  }
  /* 50%{
    transform: rotate(360deg)
  } */
  100%{
    transform: rotate(220deg);
    background: linear-gradient(#7af39473, #61f08c9d);
    }
}
.animation {
  position: absolute;
  display: flex;
  justify-content: 'space-around';
  top: 47%;
  left: 43%;
  transform: translate(-50%, 0%);
  animation-name: example;
  animation-duration: .5s;
}
.edu-image {
  max-width: 400px;
  max-height: 248px;
}
@keyframes example {
  0%   { position: absolute;
    top: -100px;
    left: 43%;}
  /* 50%  { position: absolute;
    top: 30%;
    left: 43%;} */
  /* 60%  { position: absolute;
    top: 45%;
    left: 43%;
  }
  60%  { position: absolute;
    top: 47%;
    left: 43%;
  } */
  100% { position: absolute;
    top: 47%;
    left: 43%;;}
}

.education {
  z-index: 9999;
  
}