.nave-items {
  animation: goneWithWind 3s linear forwards;
  transform-origin: left ;
}

@keyframes goneWithWind {
  0% {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0px) translateY(0) rotate(180deg) scale(1.5);
  }
  50% {
    opacity: .5;
    pointer-events: none;
    transform: translateX(600px) translateY(0px) rotate(360deg) scale(1);
  }
  100% {
    opacity: 0;
    filter: blur(20px);
    transform: translateX(900px) translateY(-200px) rotate(680deg) scale(.3);
  }
}

.filter {
  animation: filter 3s linear;
}
@keyframes filter {
  0%{
    opacity: 1;
  }
  50%{
    background-color: azure;
  }
  100%{
    opacity: 0;
  }
}
.fadein{
  animation: fadein 3s linear;
}
@keyframes fadein {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}



.cloudBox img { 
  position: absolute;
  bottom: 0;
  max-width: 100%;
  animation: cloudAnimation 150s linear infinite;
  z-index: 0;
}

@keyframes cloudAnimation {
  0%{
    transform: translate(-100%);
  }
  100%{
    transform: translate(100%);
  }
}
.BigCloudBox img { 
  position: absolute;
  bottom: 0;
  max-width: 100%;
  animation: BigCloudBoxAnimation 150s linear infinite;
  z-index: 0;
}

@keyframes BigCloudBoxAnimation {
  0%{
    transform: translate(-100%);
  }
  100%{
    transform: translate(100%);
  }
}

.cloudBox-loading img{
  position: absolute;
  bottom: 0;
  max-width: 100%;
  animation: loadingCloudAnimation 3s linear forwards;
  z-index: 0;
}
@keyframes loadingCloudAnimation {
  0%{
    transform: translate(-100%);
    opacity: .5;
  }
  100%{
    transform: translate(100%);
    opacity: 0;
  }
}
.ballon-big-box{
  position: relative;
  z-index: 1;
  /* width: 10em; */
}
.baloon-img {
  /*  */
  z-index: 1;
  position: relative;
  
}

.ballonBoxPort{
  position: absolute;
  overflow: hidden;
  z-index: 1;
}


.ballonBoxPort img {
  position: absolute;
  top: 2em;
  animation: ballonBoxPort 10s linear;
  right: 0em;
}
@keyframes ballonBoxPort {
  0%{
    right: -20em;
  }
  100%{
    right: 0em;

  }
}
.ballon-text {
  color: red;
  position: absolute;
  top: 20em;
  left: 50%;
  z-index: 2;
  animation: ballonBoxHome 10s linear;
}
.ballonBoxHom {
  position: absolute;
  overflow: hidden;
  z-index: 1;
}

.ballonBoxHom img {
  position: absolute;
  top: 0em;
  max-width: 100%;
  animation: ballonBoxHome 5s linear;
  right: 0em;
}
@keyframes ballonBoxHome {
  0%{
    top: -40em;

  }
  100%{
    top: 0em;
  }
}

/* .loadinFilter img {
  position: absolute;
  top: 0em;
  max-width: 100%;
  animation: ballonBoxHome 10s linear;
  right: 0em;
}
@keyframes ballonBoxHome {
  0%{
    top: 0em;

  }
  100%{
    top: 50em;
  }
} */



.none {
  display: none;
}




@media (max-width: 1024px) {
  .baloon-img {
    height: 600px;
    width: 300px;
  }

}
@media (min-width: 1200px) {
  .baloon-img {
    height: 800px;
    width: 450px;
  }
}



