.cloud-Animation-Box {
  position: absolute;
  top: 0;
  overflow: hidden;
}

.up-left-cloud-Animation-Box img {
  position: absolute;
  width: 1500px;
  height: 600px;
  max-width: 100%;
  left: -1510px;
  top: -10em;
  max-width: 100%;
  animation: upLeftCloude 4s linear;
  overflow: hidden;
  transform: rotate(180deg);
}

@keyframes upLeftCloude {
  0%{
    left: -1510px;
    top: -10em;
  }
  50%{
    left: -200px;
    opacity: .5;
  }
  100%{
    left: -1510px;
    opacity: 0;
  }
}
.up-right-cloud-Animation-Box img {
  position: absolute;
  width: 1500px;
  height: 600px;
  max-width: 100%;
  right: -1510px;
  top: -10em;
  max-width: 100%;
  animation: upRightCloude 4s linear;
  overflow: hidden;
}

@keyframes upRightCloude {
  0%{
    right: -1510px;
    top: -10em;
  }
  50%{
    right: -250px;
    opacity: .5;
  }
  100%{
    right: -1510px;
    top: -10em;
    opacity: 0;
  }
}

.down-left-cloud-Animation-Box img {
  position: absolute;
  width: 1500px;
  height: 600px;
  left: -1510px;
  bottom: -10em;
  max-width: 100%;
  animation: downLeftCloude 4s linear;
  overflow: hidden;
  transform: rotate(180deg);
}
@keyframes downLeftCloude {
  0%{
    left: -1510px;
    bottom: -10em;
  }
  50%{
    left: -250px;
    opacity: .5;  
  }
  100%{
    left: -1510px;
    opacity: 0;
  }
}

.down-right-cloud-Animation-Box img {
  position: absolute;
  width: 1500px;
  height: 600px;
  right: -1510px;
  bottom: -10em;
  max-width: 100%;
  animation: rightCloude 4s linear;
  overflow: hidden;
}

@keyframes rightCloude {
  0%{
    right: -1510px;
    bottom: -10em;
  }
  50%{
    right: -250px;
    opacity: .5;
  }
  100%{
    right: -1510px;
    opacity: 0;
  }
}
.middel-right-cloud-Animation-Box img {
  position: absolute;
  width: 1500px;
  height: 600px;
  right: -1510px;
  top: 50%;
  transform: translate(0%, -50%);
  max-width: 100%;
  animation: middleRightCloude 4s linear;
  overflow: hidden;
}

@keyframes middleRightCloude {
  0%{
    right: -1510px;
  }
  50%{
    right: -250px;
    opacity: .5;
  }
  100%{
    right: -1510px;
    opacity: 0;
  }
}
.middel-left-cloud-Animation-Box img {
  position: absolute;
  width: 1500px;
  height: 600px;
  left: -1510px;
  top: 50%;
  transform: translate(0%, -50%);
  max-width: 100%;
  animation: middleLeftCloude 4s linear;
  overflow: hidden;
  transform: rotate(180deg);
}

@keyframes middleLeftCloude {
  0%{
    left: -1510px;
  }
  50%{
    left: -250px;
    opacity: .5;
  }
  100%{
    left:  -1510px;
    opacity: 0;
  }
}