.cloudBox img { 
  position: absolute;
  bottom: 0;
  max-width: 100%;
  animation: cloudAnimation 150s linear infinite;
  z-index: 0;
}

@keyframes cloudAnimation {
  0%{
    transform: translate(-100%);
  }
  100%{
    transform: translate(100%);
  }
}
.BigCloudBox img { 
  position: absolute;
  bottom: 0;
  max-width: 100%;
  animation: BigCloudBoxAnimation 150s linear infinite;
  z-index: 0;
}

@keyframes BigCloudBoxAnimation {
  0%{
    transform: translate(-100%);
  }
  100%{
    transform: translate(100%);
  }
}


.ballon-big-box{
  position: relative;
  /* width: 10em; */
}
.baloon-img {
  /*  */
  z-index: 1;
  position: relative;
  
}

.ballonBoxPort{
  position: absolute;
  overflow: hidden;
  z-index: 0;
}


.ballonBoxPort img {
  position: absolute;
  top: 2em;
  animation: ballonBoxPort 5s linear;
  right: 0em;
}
@keyframes ballonBoxPort {
  0%{
    right: -20em;
  }
  100%{
    right: 0em;

  }
}
.ballon-text {
  color: red;
  position: absolute;
  top: 20em;
  left: 50%;
  z-index: 2;
  animation: ballonBoxHome 10s linear;
}
.ballonBoxHom {
  position: absolute;
  overflow: hidden;
  z-index: 1;
}
.ballonBoxHom img {
  position: absolute;
  top: 0em;
  max-width: 100%;
  animation: ballonBoxHome 10s linear;
  right: 0em;
}
@keyframes ballonBoxHome {
  0%{
    top: -40em;

  }
  100%{
    top: 0em;
  }
}
.none {
  display: none;
}




@media (max-width: 1024px) {
  .baloon-img {
    height: 600px;
    width: 300px;
  }

}
@media (min-width: 1200px) {
  .baloon-img {
    height: 800px;
    width: 450px;
  }
}